// @import "../../node_modules/amazeui/less/variables";
// @import "../../node_modules/amazeui/less/mixins";

@ns: ~"iqg-";

.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.@{ns}cf {
  .clearfix();
}

.fl,.fr{display: inline;}
.fl{float: left;}
.fr{float: right;}
.tc{text-align: center;}

@black:           #000;
@white:           #fff;
@gray-darker:     lighten(@black, 13.5%); // #222
@gray-dark:       lighten(@black, 20%);   // #333
@gray:            lighten(@black, 33.5%); // #555
@gray-light:      lighten(@black, 60%);   // #999
@gray-lighter:    lighten(@black, 93.5%); // #eee

@mainColor: #FC6522;
@lightGray: #eee;
@midGray: #ddd;
@white: #fff;
@smallGray: #999;


@global-font-size:        1.6rem; //16px
@global-line-height:      1.6;
@font-size-base:          @global-font-size;

// @fa-font-path: '//dn-amui.qbox.me/font-awesome/4.3.0/fonts';
@fa-font-path: '../fonts';
@fa-css-prefix: ~"@{ns}icon";
@fa-version: '4.3.0';

@font-face {
  font-family: 'FontAwesome';
  src: url('@{fa-font-path}/fontawesome-webfont.eot?v=@{fa-version}');
  src: url('@{fa-font-path}/fontawesome-webfont.eot?#iefix&v=@{fa-version}') format('embedded-opentype'),
  url('@{fa-font-path}/fontawesome-webfont.woff2?v=@{fa-version}') format('woff2'),
  url('@{fa-font-path}/fontawesome-webfont.woff?v=@{fa-version}') format('woff'),
  url('@{fa-font-path}/fontawesome-webfont.ttf?v=@{fa-version}') format('truetype'),
  url('@{fa-font-path}/fontawesome-webfont.svg?v=@{fa-version}#fontawesomeregular') format('svg');
  //  src: url('@{fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}
.am-icon-font() {
  display: inline-block; // 1
  font: normal normal normal @global-font-size/1 "FontAwesome", sans-serif; // shortening font declaration
  /*font-weight: normal; // 2
  font-style: normal; // 2
  vertical-align: baseline; // 3
  line-height: 1; // 4*/
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased; // 5
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); // ensures no half-pixel rendering in firefox
}
[class*="@{ns}icon-"] {
  display: inline-block;
  font-style: normal;

  &:before {
    .am-icon-font;
  }
}
[class*="@{ns}icon-"]:before {
  display: inline-block;
  font: normal normal normal 1.6rem/1 FontAwesome,sans-serif;
  font-size: inherit;
  text-rendering: auto;
  transform: translate(0,0);
}
@fa-var-spinner: "\f110";
@fa-var-star: "\f005";
@fa-var-bars: "\f0c9";
.@{fa-css-prefix}-spinner:before {
  content: @fa-var-spinner;
}
.@{fa-css-prefix}-star:before {
  content: @fa-var-star;
}
.@{fa-css-prefix}-bars:before {
  content: @fa-var-bars;
}
@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.@{ns}icon-spin {
  animation: icon-spin 2s infinite linear;
}


@font-family-sans-serif: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;

@base-font-family: @font-family-sans-serif;

h1,h2,h3,h4,p{margin:5px 0;}
h3,h4{font-size: 14px;}
html{-webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-size: 10px;}
body,input,textarea,select,button{text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased;}
a{text-decoration: none;}
body{color: #333; font-family: @base-font-family; font-size: 14px; }
.gray{color: @smallGray;}
.iqg-pages {display: flex;flex-direction: column;}
.iqg-page{box-sizing: border-box;}
.iqg-header {margin-bottom: 0;}

.iqg-main { flex: 1;}

.iqg-panel .pure-button{margin:5px;}

.ajax-loading{
  // height: 100%;
  // min-height: 200px;
  // text-align: center;
  // &:before{content: '';width: 0; height: 100%; vertical-align: middle;}
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 200px;
  text-align: center;
  
  .iqg-icon-spinner{vertical-align: middle;}
  .iqg-icon-spinner:before{font-size: 2em;}
}

// headerBar
.header-bar{height: 49px;}
.@{ns}header{
  position: relative;box-sizing: border-box; width: 100%; height: 49px; line-height: 49px; padding: 0 10px;
  .@{ns}header-nav{ position: absolute; top: 0;
    >a{display: inline-block; min-width: 40px; text-align: center;}
    img{height: 16px; width: auto; vertical-align: middle;}
  }
  .@{ns}header-left{left: 5px;}
  .@{ns}header-right{right: 5px;}
  .@{ns}header-title{margin: 0 24%;font-size: 2rem;font-weight: 400;text-align: center;display: block;word-wrap: normal;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
}
.@{ns}header-default{
  background-color: #0e90d2;
  .@{ns}header-nav>a{color:@gray-lighter;}
  .@{ns}header-title{ color: @white;}
  .@{ns}header-icon{font-size: 20px;}
}
.@{ns}header-fixed{position: fixed; z-index: 100;}

// tabs 日期选择 
.box-title{ background-color:@lightGray; padding: 10px 26px;}
.box-title p{margin: 6px 0 0;}
.iqg-tabs{ border-bottom: 1px solid @midGray;
  .iqg-tab{ display: inline-block;color: @mainColor; font-size: 14px; width: 44px; height: 34px; line-height: 34px; text-align: center; border-radius: 2px; margin-right: 10px;cursor: pointer;}
  .iqg-tab-active{ background-color:@mainColor; color: @white; }
}
.iqg-topbar{min-height: 80px;}

.iqg-list{
  .list-box{ overflow: hidden;}
  .link-block{display: block;box-sizing: border-box; overflow: hidden; padding: 1px 26px; width: 100%; margin-top: -1px;}
  .link-block .item{overflow: hidden; margin-top: -1px; min-height: 44px; 
line-height: 44px; border-top: 1px solid @midGray;}
  a{
    .num{color: @smallGray; float: right; margin-left: 10px; text-align: right;}
    .title{ overflow: hidden; font-size: 16px;color: @black;}
    .title p{ margin:0; padding: 0; white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}
  }
}

// 二级列表
.sub-list-title{
  position: relative;
  font-size: 14px;
  //padding-right: 150px;
  h3,.iqg-select-btn{ display: inline-block; vertical-align: middle;}
  h3{width:100%;box-sizing:border-box;padding-right: 120px;font-weight: normal; overflow: hidden; margin:0; line-height: 20px; }
  .iqg-select-btn{
    margin-left:-120px;width: 120px; color: @mainColor;text-align: right;
  }
  .iqg-btn{display:inline-block;vertical-align: middle;margin-left: 5px; min-width: 34px; min-height: 34px; line-height: 34px; box-sizing: border-box;text-align: center; }
  .iqg-arr-btn{
    position:relative; min-width: 70px; border:1px solid @mainColor; border-radius: 3px;
    &:before{content: ''; position: absolute; bottom: 3px; right: 3px;
     display:inline-block; width: 0;height: 0; border-color: transparent @mainColor @mainColor transparent; border-width: 4px; border-style: solid; }
  }
}
.iqg-star{
  display: block; overflow: hidden; clear: both; width: 100px;height: 16px; margin: -10px 0 8px -3px;
  span,i{float: left; line-height: 1; overflow: hidden;}
  i{box-sizing: border-box;width: 100px; padding: 0 4px;}
  i:before{.am-icon-font; content: '\f005\20\f005\20\f005\20\f005\20\f005'; font-size: 16px; color: #F3F210; text-shadow: 1px 1px rgb(216, 216, 159);}
}

.load-more{ text-align: center; height: 40px; line-height: 40px; cursor: pointer;}

//详情列表
.list-detail {
  margin: 10px 0;
  &:before{
    display: block;
    content: '';
    background: #F1F1F1;
    width: 100%;
    height: 5px;
  }
  ul{margin:0;;padding: 1px 0;list-style-type: none; overflow: hidden;}
  li{
    margin: -1px 26px 0; padding: 0 0px 0 10px; border-top: 1px solid #CACACA; min-height: 30px; line-height: 30px; overflow: hidden;

    &.title{background-color: #E0E0E0; border-top:none; margin: 0; padding: 0 26px 0 36px;}
    &.title span{ color: @black;}
    .time{color:@smallGray; display: block;overflow: hidden; padding: 5px 0;line-height: 20px;}
    .value,
    .num{float: right; min-width: 60px; text-align: center;}
  }
}
.iqg-chart{ text-align: center;}







